/* General reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #cdcd43;
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

/* Hamburger Menu Styles */
.menu {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000;
  text-align: right;
}

.hamburger-icon {
  font-size: 30px;
  cursor: pointer;
  color: #7c7979;
}

.menu-items {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 40px;
  right: 0;
  background-color: rgba(240, 233, 233, 0.9);
  border: 1px solid #6f6c6c;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
}

.menu.active .menu-items {
  display: flex;
}

.menu-items a {
  color: #333;
  text-decoration: none;
  padding: 8px 15px;
  font-weight: bold;
}

.menu-items a:hover {
  background-color: #818282;
  color: #ffffff;
  border-radius: 3px;
}

/* Navbar styling */
.navbar {
  background-color: #969670;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar h1, .events_conducted .content h3 {
  color: #be3535;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  font-size: 5em;
}

.navbar img {
  border-radius: 50%;
  border: 2px solid #ffffff;
  margin-left: 10px;
}

/* Content Section styling */
.content-section {
  display: none;
  padding: 20px;
}

.content-section h2 {
  font-size: 2.5em;
  color: #3b4a51;
  text-align: center;
}

.home-content h1 {
  font-size: 4em;
  text-align: center;
}

.home-content img {
  display: block;
  margin: 10px auto;
}

/* Social Links */
.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-link {
  margin: 0 10px;
  text-decoration: none;
  color: #984a4a;
  display: flex;
  align-items: center;
  font-weight: bold;
}

/* Keyframe Animation */
@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .content-section {
    padding: 10px;
  }

  .home-content h1 {
    font-size: 3em;
  }
}
