body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #b9d3a4;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-container img {
    width: 50px;
    margin-right: 10px;
  }

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    color: #f7f2f2;

  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .burger {
    display: none;
    flex-direction:row;
  }
  
  .burger .line {
    width: 25px;
    height: 3px;
    background-color: #c41616;
    margin-bottom: 5px;
  }
  
/* Eligibility Section */
.eligibility {
    padding: 50px;
    background-color: #523418;
    background-image: url('background.jpeg');
}
.eligibility h2 { 
    text-align: center;
    margin-bottom: 30px;
}
.criteria-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    width: 200px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(122, 13, 13);
    background-image: url('image.2.jpeg');
    shape-image-threshold: inherit;
    display:fit;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(122, 91, 91, 0.966);
    transition: transform 0.3s;
}
.card:hover {
    transform: translateY(-10px);
}
.social-links {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.social-link {
  margin: 0 10px;
  text-decoration: none;
  color: #e0f7fa;
  display: flex;
  align-items: center;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}


  /* ... other CSS styles for sections, hero, buttons, etc. */