* {
    
    color: white;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.instalink {
    width: fit-content;
}

#instalink {
    text-decoration: none;
    font-size: 26px;
    margin-left: 5px;
    color: white;
}
.aboutinfo {
    font-size: 25px;
}

.center-align {
    display: block;
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
    margin-bottom: 0%;
}
.head {
    font-size: 45px;
    font-weight: bold;
}
.gradient {
    color: rgb(155, 65, 65);
}

.eventhead {
    font-size: 30px;
    font-weight: bold;
    width: fit-content;
}
.info.eventhead.descrpt {
    display:fixed;
    min-width: 350px;
    max-width: 1100px;
    line-height: 20px;
    font-size: 15px;
    word-spacing: 10px;
    text-align: center;
}
.events.head-gradient.eventinfo.descrpt{
    text-align:justify;
}

#eventdescrpt {
    max-width: 300px;
}

.eventimg {
    width: 200px;
    position: absolute;
    right: 50px;
    top: 100px;
}

.join {
    color: rgb(236, 204, 23);
}
.highlight {
    font-weight: bolder;
}