.speakername {
    font-size: 30px;
    margin-bottom: 0px;
    font-weight: bold;
    color: red;
}
.descrpt {
    font-size: 20px;
    color: rgb(198, 198, 198);

}
body {
    background: url('/ted x uvce/tedx\ images/bg2.jpeg') no-repeat center center fixed;
    background-size: cover;
    
    background-color: rgb(0, 0, 0);
    
}
/* Hamburger Menu Styles */
.menu {
    position: fixed;
    top: 10px;
    right: 20px;
    z-index: 1000;
    text-align: right;
  }
  
  .hamburger-icon {
    font-size: 30px;
    cursor: pointer;
    color: #7c7979;
  }
  
  .menu-items {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: rgba(240, 233, 233, 0.9);
    border: 1px solid #6f6c6c;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  .menu.active .menu-items {
    display: flex;
  }
  
  .menu-items a {
    color: #333;
    text-decoration: none;
    padding: 8px 15px;
    font-weight: bold;
  }
  
  .menu-items a:hover {
    background-color: #818282;
    color: #ffffff;
    border-radius: 3px;
  }
p.descrpt {
    width: fit-content;
    margin: 0%;
}
.Speakers {
    word-spacing: 7px;
    line-height: 23px;
}
.about {
    vertical-align: middle;
    margin-top: 30px;
    font-size: 20px;
}
.speakerdescrpt {
    content: "";
    clear: both;
    display: table;
    margin-bottom: 20px;
}